<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Chain</title>
</head>
<body>
    <h1>Full Chain</h1>
    <ul>
        {% for transaction in transactions %}
            <li>
                <strong>From:</strong> {{ transaction.from_address }}<br>
                <strong>Receiver:</strong> {{ transaction.receiver_address }}<br>
                <strong>User ID:</strong> {{ transaction.user_id }}<br>
                <strong>Election ID:</strong> {{ transaction.election_id }}<br>
                <strong>Candidate ID:</strong> {{ transaction.candidate_id }}<br>
                <strong>Timestamp:</strong> {{ transaction.timestamp }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>